<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <div class="bg-dark text-white">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col col-lg-3">
                       <a href="/"> <img src="./static/img/Best_Finder.png" class="img-fluid float-left"></a>
                    </div>
                    <div class="col col-lg-6 text-center">
                        <h1>Best-Finder</h1>
                    </div>
                    <div class="col col-lg-3 text-end">
                        <h1><a href="{{url_for('sobre')}}" class="h1">Sobre</a></h1>
                    </div>
                </div>
            </div>
        </div>
        

            <div class="container text-center">
                <div class="row">
                    <h4>Selecione o departamento que deseja ver os livros mais vendidos</h4>
                </div>
            <div class="row">
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="1" name="botao">Geral</button> 
                    </form>
                </div>
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="2" name="botao">Administração</button>
                    </form>
                </div>
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="3" name="botao">Artes</button>
                    </form> 
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="4" name="botao">Artesanato</button> 
                    </form>
                </div>
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="5" name="botao">Autoajuda</button>
                    </form>
                </div>
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="6" name="botao">Biografia</button>
                    </form> 
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="7" name="botao">Ciências</button> 
                    </form>
                </div>
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="8" name="botao">Computação</button>
                    </form>
                </div>
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="9" name="botao">Crônicas</button>
                    </form> 
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="10" name="botao">Direito</button> 
                    </form>
                </div>
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="11" name="botao">Educação</button>
                    </form>
                </div>
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="12" name="botao">Engenharia</button>
                    </form> 
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="13" name="botao">Erótico</button> 
                    </form>
                </div>
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="14" name="botao">Esportes</button>
                    </form>
                </div>
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="15" name="botao">Fantasia</button>
                    </form> 
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="16" name="botao">Gastronomia</button> 
                    </form>
                </div>
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="17" name="botao">Hqs</button>
                    </form>
                </div>
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="18" name="botao">História</button>
                    </form> 
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="19" name="botao">infantil</button> 
                    </form>
                </div>
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="20" name="botao">inglês</button>
                    </form>
                </div>
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="21" name="botao">Jovens</button>
                    </form> 
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="22" name="botao">LGBTQ+</button> 
                    </form>
                </div>
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="23" name="botao">Ficção</button>
                    </form>
                </div>
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="24" name="botao">Medicina</button>
                    </form> 
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="25" name="botao">Policial</button> 
                    </form>
                </div>
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="26" name="botao">Política</button>
                    </form>
                </div>
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="27" name="botao">Religião</button>
                    </form> 
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="28" name="botao">Romance</button> 
                    </form>
                </div>
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="29" name="botao">Saúde e Família</button>
                    </form>
                </div>
                <div class="col">
                    <form action="{{url_for('index')}}" method="POST">
                        <button class="btn btn-outline-dark col-12" type="submit" value="30" name="botao">Turismo</button>
                    </form>
                </div>
            </div>
            </div>


        <div class="bg-dark text-white" style="margin-bottom: -200px; margin-top: 20px">
            <div style="margin-left:10px;">
            <p> Projeto integrador 1º Termo</p>
            <p> Alunos: Andreas, Daniel, Eduardo, Enzo, Fernanda e Thamiris </p>
            <p> 2024 </p> 
            </div>
          </div>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
