<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <div class="bg-dark text-white">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col col-lg-3 text-start">
                        <a href="/"><img src="./static/img/Best_Finder.png" class="img-fluid"></a>
                    </div>
                    <div class="col col-lg-6 text-center">
                        <h1>Best-Finder</h1>
                    </div>
                    <div class="col col-lg-3 text-end">
                        <h1><a href="{{url_for('sobre')}}" class="h1">Sobre</a></h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
                <div>
                    <h1 class="text-center">{{titulo_pagina}}</h1> 
                </div>

                <div>
                    {% for item in range(titulos|length) %}
                    <div class="row">
                    <div class="col text-end align-self-center">
                        <img src="{{imagens[item]}}" class="img-fluid"></img>
                    </div>
                    <div class="col text-start">
                    <h4><strong>{{titulos[item]}}</strong></h4>
                    <h4>Distribuidores: {{distribuidores[item]}}</h4>
                    <h4>Preço: {{precos[item]}}</h4>
                    </div>
                    </div>
                    <hr></hr>
                    {%endfor%}
                    </div>
                </div>



                <div class="bg-dark text-white" style="margin-bottom: -200px; margin-top: 20px">
                    <div style="margin-left:10px;">
                    <p> Projeto integrador 1º Termo</p>
                    <p> Alunos: Andreas, Daniel, Eduardo, Enzo, Fernanda e Thamiris </p>
                    <p> 2024 </p> 
                    </div>
                  </div>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
