<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <div class="bg-dark text-white">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col col-lg-3">
                       <a href="/"> <img src="./static/img/Best_Finder.png" class="img-fluid float-left"></a>
                    </div>
                    <div class="col col-lg-6 text-center">
                        <h1>Best-Finder</h1>
                    </div>
                    <div class="col col-lg-3 text-end">
                        <h1><a href="{{url_for('sobre')}}" class="h1">Sobre</a></h1>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container text-center" style="margin-top: 40px">
            <p class="h2" style="text-align: justify">Olá, este foi um projeto criado para o P.I. do Primeiro Termo.</p>
            <p class="h3" style="text-align: justify">Linguagens de programação utilizadas: Python e CSS.</p>
            <p class="h3" style="text-align: justify">Bibliotecas utilizadas: Selenium, Flask, Pandas e CSV.</p>
            <p class="h3" style="text-align: justify">Este projeto superou as expectativas de todos, apesar dos desafios encontrados devido à natureza "irregular" do site da Amazon. No entanto, conseguimos superar esses obstáculos e concluir o trabalho com sucesso.</p>
        </div>

        
        <div class="bg-dark fixed-bottom text-white" >
            <div style="margin-left:10px;">
            <p> Projeto integrador 1º Termo</p>
            <p> Alunos: Andreas, Daniel, Eduardo, Enzo, Fernanda e Thamiris </p>
            <p> 2024 </p> 
            </div>
          </div>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>